body
{
	height: 100%;
    overflow: hidden;

	background-color: #1e1e1e;
}

html
{
	height: 100%;
    overflow: hidden;
}

#notif
{
	position: absolute;

	border: 5px solid #5c43d8;
	opacity: 0;

	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-family: Arial;

	height: 2.5%;
	width: 50%;

	top: 85%;
	left: 25%;
}

#upgrades
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #59d843;


	height: 10%;
	width: 10%;

	top: 90%;
  	left: 35%;
}

#upgrades:hover
{
	background-color: #59d843;
}

#production
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #d88143;

	height: 10%;
	width: 10%;

	top: 90%;
  	left: 45%;
}

#production:hover
{
	background-color: #d88143;
}

#settings
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #d84343;

	height: 10%;
	width: 10%;

	top: 90%;
  	left: 55%;
}

#settings:hover
{
	background-color: #d84343;
}

#upgradedqpro
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #8743d9;

	height: 10%;
	width: 10%;

	top: 5%;
  	left: 45%;
}

#upgradedqpro:hover
{
	background-color: #8743d9;
}

#upgradecp
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #8743d9;

	height: 10%;
	width: 10%;

	top: 15%;
  	left: 45%;
}

#upgradecp:hover
{
	background-color: #8743d9;
}

#upgradecn
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #8743d9;

	height: 10%;
	width: 10%;

	top: 25%;
  	left: 45%;
}

#upgradecg
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #8743d9;

	height: 10%;
	width: 10%;

	top: 35%;
  	left: 45%;
}

#upgradecn:hover
{
	background-color: #8743d9;
}

#upquarks
{
	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

#downquarks
{
	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

#protons
{
	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

#neutrons
{
	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

#gluons
{
	transition-duration: 0.5s;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

#exportsave
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #d8bf43;

	height: 10%;
	width: 10%;

	top: 5%;
  	left: 45%;
}

#exportsave:hover
{
	background-color: #d8bf43;
}

#importsave
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #4375d8;

	height: 10%;
	width: 10%;

	top: 15%;
  	left: 45%;
}

#importsave:hover
{
	background-color: #4375d8;
}

#deletesave
{
	position: absolute;

	color: #ffffff;

	transition-duration: 0.5s;
	background-color: #1e1e1e;
	border: 5px dashed #d943d9;

	height: 10%;
	width: 10%;

	top: 25%;
  	left: 45%;
}

#deletesave:hover
{
	background-color: #d943d9;
}